<h1>All The Campers!!</h1>
<ul>
  <% @campers.each do |camper| %>
    <li><%= link_to camper.name, camper_path(camper) %></li>
  <% end %>
</ul>

<%= button_to "Create New Camper", new_camper_path, method: :get %>
<br><br>
<%= button_to "Create New Signup", new_signup_path, method: :get %>